* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navegador {
  grid-area: nav;
  background-color: rgba(24, 24, 24, 0.9803921569);
  padding: 20px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navegador ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
}
.navegador li {
  position: relative;
}
.navegador a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.navegador-info h1 {
  margin-left: -700px;
  color: white;
}

.fa-bars {
  display: none;
}

.navegador > ul > li > a:hover + ul {
  max-height: 300px;
}

@media (max-width: 576px) {
  .navegador {
    justify-content: start;
  }
  .navegador i {
    position: absolute;
    z-index: 2;
    display: block;
    color: white;
    font-size: 36px;
  }
  .navegador > ul > li > ul {
    position: static;
    left: 0;
  }
  .navegador > ul > li {
    width: 150px;
    text-align: center;
  }
  .navegador > ul {
    position: fixed;
    overflow-y: scroll;
    z-index: 1;
    top: 0;
    left: -350px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 70px;
    background-color: #a53636;
    width: 250px;
    height: 100vh;
    transition: 0.2s;
  }
  .navegador > i:hover + ul {
    left: 0;
  }
  .navegador > ul:hover {
    left: 0;
  }
}
footer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-area: footer;
  background-color: rgba(24, 24, 24, 0.9803921569);
}

footer .compania {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

footer > .sucursales > .sucursal {
  width: 200px;
  padding: 10px;
}
footer > .sucursales > .sucursal h3 {
  margin-bottom: 10px;
}
footer > .sucursales > .sucursal ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}
footer > .sucursales > .sucursal li > a {
  color: inherit;
  text-decoration: none;
}

footer > .sucursales {
  display: flex;
  gap: 10px;
  padding: 10px;
}

@media (max-width: 630px) {
  footer > .sucursales {
    flex-wrap: wrap;
    padding: 10px;
  }
}
/* Map responsive*/
.contenido-contacto-map {
  background-color: #a53636;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-map {
  width: 500px;
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  padding: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.map-responsive iframe {
  display: flex;
  flex-wrap: wrap;
  max-width: 65vw;
  padding-left: 5%;
  margin-right: 5px;
}

@media (max-width: 700px) {
  .contenido-contacto-map {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
  }
}
.map-responsive iframe {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  padding-left: 0%;
}

.formulario label input, .formulario label textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  margin-top: 10px;
  outline: none;
  color: white;
}

.formulario {
  background-color: #2b281f;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
  color: white;
  padding: 30px;
  margin-bottom: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: "zona1    zona1" "zona2    zona3" "zona4    zona5" "zona6    zona6" "zona7    zona7";
}
@media (max-width: 800px) {
  .formulario {
    width: 100vw;
    margin: 20px 0px;
    border-radius: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: "zona1" "zona2" "zona3" "zona4" "zona5" "zona6" "zona7";
  }
}
.formulario h2:nth-child(1) {
  grid-area: zona1;
}
.formulario label:nth-child(2) {
  grid-area: zona2;
}
.formulario label:nth-child(3) {
  grid-area: zona3;
}
.formulario label:nth-child(4) {
  grid-area: zona4;
}
.formulario label:nth-child(5) {
  grid-area: zona5;
}
.formulario label:nth-child(6) {
  grid-area: zona6;
}
.formulario button:nth-child(7) {
  grid-area: zona7;
  width: 200px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: #a53636;
  margin-top: 20px;
}
.formulario label {
  display: flex;
  flex-direction: column;
}
@media (max-width: 231px) {
  .formulario button {
    max-width: 100px;
  }
}

/*login*/
.body-login {
  background-size: cover;
  font-family: sans-serif;
  color: white;
  justify-content: center;
  text-align: center;
  height: 50vh;
}
@media (max-width: 776px) {
  .body-login {
    height: 35vh;
  }
}
@media (max-width: 429px) {
  .body-login {
    height: 15vh;
  }
}

.login-box {
  max-width: 450px;
  height: 450px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 100px 30px;
}
.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}
.login-box input[type=text], .login-box input[type=password] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.login-box input[type=submit] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: calc(50% - 50px);
}

.login-box input[type=submit]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a:hover {
  color: #fff;
}

/*Galeria*/
.contenido-contacto {
  background-color: #a53636;
  height: 50vh;
}

.gallery {
  width: 100vmin;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3);
}

.wrapper-gallery {
  width: 100%;
  display: flex;
  -webkit-animation: slide 14s infinite;
          animation: slide 14s infinite;
}
.wrapper-gallery img {
  width: 50%;
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-200%);
  }
  90% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-200%);
  }
  90% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

/*Tarjetas tarifas*/
.body-cardet {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cardet {
  position: relative;
  width: 250px;
  height: 305px;
  margin: 15px;
}

.cardet .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.cardet .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.cardet .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardet .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.cardet .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}
.cardet .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.cardet .back p {
  letter-spacing: 1px;
}

.cardet .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}
.cardet .back .link a {
  color: #f3f3f3;
  text-decoration: none;
}

.cardet:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.cardet:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

@font-face {
  font-family: fontAwesome;
  src: url(../fonts/fa-solid-900.ttf);
}
.bodyConAside {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 300px 1fr 100px;
  grid-template-areas: "nav    nav    nav    nav" "header header header header" "main   main   main   aside" "footer footer footer footer";
}
@media (max-width: 576px) {
  .bodyConAside {
    grid-template-rows: 70px 200px auto auto auto;
    grid-template-areas: "nav    nav    nav    nav" "header header header header" "main   main   main   main" "aside aside   aside  aside" "footer footer footer footer";
  }
}

.bodySinAside {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 300px 1fr auto;
  grid-template-areas: "nav    nav    nav    nav" "header header header header" "main   main   main   main" "footer footer footer footer";
}

.bodyPages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100% auto;
  grid-template-areas: " nav    nav    nav    nav" "main   main   main   main" "footer footer footer footer";
}

.encabezado {
  background-size: cover;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.encabezado-contacto {
  background-size: cover;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f3d3d;
}

.encabezado video {
  position: absolute;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0px;
  width: 100%;
  z-index: -10;
  overflow: hidden;
}
@media (max-width: 576px) {
  .encabezado video {
    padding-bottom: 126px;
  }
}
@media (min-width: 0px) {
  .encabezado video {
    height: 75vh;
  }
}

.encabezado-info {
  color: rgb(196, 97, 51);
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.encabezado-info img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-image: url(/assets/img/complejo2.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
@media (max-width: 380px) {
  .encabezado-info {
    font-size: larger;
  }
}

main {
  grid-area: main;
}

.main-contacto {
  background-color: #a53636;
}

.subtitulo {
  margin: 10px;
  color: rgb(211, 184, 34);
  font-family: monospace;
  font-size: x-large;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #a53636;
  box-shadow: 4px 4px 4px 4px black;
}

.tarjeta {
  display: flex;
  width: 350px;
  gap: 5px;
  padding-bottom: 75px;
  margin: 10px;
  padding-top: 20px;
}

.tarjeta-info h3 {
  margin-top: 30px;
  text-align: center;
}
.tarjeta-info p {
  text-align: center;
  color: white;
}

.tarjeta img {
  width: 180px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px black;
  margin-right: 10px;
}

aside {
  grid-area: aside;
}/*# sourceMappingURL=style.css.map */